<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<app-navigation></app-navigation>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>

    <script type="text/javascript" src="./js/fondo2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<style>
    .descripcion {
        color: black;
        text-align: left;
    }
</style>

<div class="contact">
    <h2 class="active"> Información </h2>

    <form>


        <span>¿Quienes somos?</span>
        <span>¿En que consiste?</span>
        <span>¿Que tecnología se ha usado?</span>
        <a class="descripcion">Somos el grupo formado por Gabriel Pastor, Gabriel Donate y Cristina Borrego. Este es nuestro proyecto de la assignatura.</a>
        <a class="descripcion">Consiste en crear una votación encriptada y anónima para el Balón de Oro. Esto se debe a que siempre se filtran las votaciones de los jugadores y periodistas</a>
        <a class="descripcion">Se ha usado RSA para encriptar las votaciones. </a>
        <br>

        <br>


    </form>

</div>