<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div class="login">
    <h2 class="active"> sign in </h2>

    <h2 class="nonactive"> sign up </h2>
    <form>



        <input type="text" class="text" name="username">
        <span>Usuario</span>

        <br>

        <br>

        <input type="password" class="text" name="password">
        <span>Contraseña</span>
        <br>

        <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />
        <label for="checkbox-1-1">Mantén iniciada la sessión</label>

        <button class="signin" (click)="entrarVotacion()">
      Iniciar Sesión
    </button>


        <hr>

        <a href="#">¿Olvidaste la contraseña?</a>
    </form>

</div>