<!DOCTYPE html>
<html lang="en-US">
<app-navigation></app-navigation>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Balón de Oro</title>
    <link rel="stylesheet" href="css/votos.component.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
</head>

<body>

    <!-- MAIN -->
    <main role="main">
        <!-- Section 1 -->
        <section class="background-white text-center padding-3x">
            <div class="line">
                <h2 class="text-size-50 text-center">NOMINADOS A BALÓN DE ORO</h2>
                <div class="margin">
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/messsi.jpg" alt="">
                            <h2 class="text-thin">Lionel Andres Messi</h2>
                            <p class="margin-bottom-30">París Saint Germain </p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('messi')">VOTE</a>
                        </div>
                    </div>
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/cr7.jpg" alt="">
                            <h2 class="text-thin">Cristiano Ronaldo</h2>
                            <p class="margin-bottom-30">Al Nassr</p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('cristiano')">VOTE</a>
                        </div>
                    </div>
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/mbappe.PNG" alt="">
                            <h2 class="text-thin">Kylian Mbappé</h2>
                            <p class="margin-bottom-30">París Saint Germain</p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('mbappe')">VOTE</a>
                        </div>
                    </div>
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/joselu.jpg" alt="">
                            <h2 class="text-thin">Joselu</h2>
                            <p class="margin-bottom-30">RCD Espanyol</p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('joselu')">VOTE</a>
                        </div>
                    </div>
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/haalland.jpg" alt="">
                            <h2 class="text-thin">Haaland</h2>
                            <p class="margin-bottom-30">Manchester City</p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('haaland')">VOTE</a>
                        </div>
                    </div>
                    <div class="margin-m-bottom">
                        <div class="padding-2x block-bordered">
                            <img src="../assets/img/neymar.jpg" alt="">
                            <h2 class="text-thin">Neymar Jr</h2>
                            <p class="margin-bottom-30">París Saint Germain</p>
                            <a class="button button-dark-stroke text-size-12" href="/" (click)="encrypt('neymar')">VOTE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

</body>

</html>