<app-navigation></app-navigation>
<br>
<h1>SECRET SHARING</h1>
<br>
<h4>GENERAR CLAVES MEDIANTE SECRETO</h4>
        Escriba a continuación el secreto: <input type="string" name="secreto" placeholder="Secreto" requiered [(ngModel)]="secreto"/>
        <br>
       <p>
            <input type="submit" value="Obtener y ver claves" (click)="getClavesDeSecreto()"/>
        </p>
        <p *ngFor="let clave of clavesCompartidas">
            + {{clave}}
        </p>
        <br>
        <h4>VER SECRETO MEDIANTE CLAVES</h4>

        <p>
            Clave 1: <input [(ngModel)]="claves[0]" type="string"/>
        </p>
        <p>
            Clave 2: <input [(ngModel)]="claves[1]" type="string"/>
        </p>
        <p>
            Clave 3: <input [(ngModel)]="claves[2]" type="string"/>
        </p>

        <p>
            <input type="submit" value="Descifrar secreto" (click)="getSecretoPorClaves()"/>
        </p>

        <p>
            Resultado: {{secretoRecuperado}}
        </p>

