<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/votos.component.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Top Navigation -->
    <nav class=" background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
            <a href="index.html" class="logo">
                <!-- Logo White Version -->
                <img class="logo-white" style="width: 70px; margin-top: 0px; margin-bottom: 10px" src="../assets/img/fifa-ballon-d-or-logo.png" alt="">
            </a>
        </div>
        <div class="top-nav">
            <p class="nav-text"></p>
            <ul class="right chevron">
                <li><a href="login">Login</a></li>
                <li><a href="votos">Votación</a></li>
                <li><a href="galeria">Galería</a></li>
                <li><a href="contact">Información</a></li>
                <li><a href="secretSharing">Demostración Secret Sharing</a></li>
                <li><a href="paillier">Demostración Paillier</a></li>
            </ul>
        </div>
    </nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>